# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Build directories
build/
out/
cmake-build-*/

# Generated proto files
generated/

# vcpkg installed packages
vcpkg_installed/

# IDE files
.vs/
.vscode/
*.user
*.suo
*.sln
*.vcxproj*
.idea/
compile_commands.json

# Temporary generator scripts
gen_project.py
